# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
**/.terraform-*/
**/terraform.tfstate.d/
**/terratest-*.log
**/test_out/
**/test_out.log
**/.terraform/

*.save

**/*.tfplan
.conftest/module.json
.conftest/tfplan.json

**/README.pdf

**/deprecated
